<clr-main-container>
  <clr-modal [(clrModalOpen)]="account_settings_opened">
    <h3 class="modal-title">Accout Settings</h3>
    <div class="modal-body">
      <form>
        <section class="form-block">
          <div class="form-group">
            <label for="account_settings_username" class="col-md-4">Username</label>
            <input type="text" class="col-md-8" id="account_settings_username" size="20"> 
          </div>
          <div class="form-group">
            <label for="account_settings_email" class="col-md-4">Email</label>
            <input type="text" class="col-md-8" id="account_settings_email" size="20"> 
          </div>
          <div class="form-group">
            <label for="account_settings_full_name" class="col-md-4">Full name</label>
            <input type="text" class="col-md-8" id="account_settings_full_name" size="20"> 
          </div>
          <div class="form-group">
            <label for="account_settings_comments" class="col-md-4">Comments</label>
            <input type="text" class="col-md-8" id="account_settings_comments" size="20"> 
          </div>
          <div class="form-group">
            <button type="button" class="col-md-4" class="btn btn-outline">Change Password</button>
          </div>
        </section>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="account_settings_opened = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="account_settings_opened = false">Ok</button>
    </div>
  </clr-modal>
  <clr-header class="header-4 header">
    <div class="branding">
      <a href="#" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Harbor</span>
      </a>
    </div>
    <div class="divider"></div>
    <div class="header-nav">
        <a class="nav-link" id="dashboard-link" routerLink="/dashboard" routerLinkActive="active">
          <span class="nav-text">Dashboard</span>
        </a>
        <a class="nav-link" id="dashboard-link" routerLink="/project" routerLinkActive="active">
          <span class="nav-text">Project</span>
        </a>
    </div>
    <div class="header-actions">
      <clr-dropdown class="dropdown bottom-right">        
        <button class="nav-text" clrDropdownToggle>
           Administrator
           <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <a href="javascript:void(0)" clrDropdownItem>Add User</a>
          <a href="javascript:void(0)" clrDropdownItem (click)="account_settings_opened = true">Account Setting</a>
          <a href="javascript:void(0)" clrDropdownItem>About</a>
        </div>
      </clr-dropdown>
      <a class="nav-link">
        <span class="nav-text">
          <clr-icon shape="search"></clr-icon>
        </span>
      </a>
      <clr-dropdown class="dropdown bottom-right">
        <button class="nav-text" clrDropdownToggle>
           <clr-icon shape="cog"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <a href="javascript:void(0)" clrDropdownItem>Preferences</a>
          <a href="javascript:void(0)" clrDropdownItem>Log out</a>
        </div>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>